<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1e*</key>
	<dict>
		<key>image</key>
		<string>+EnabledOn</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>0e*</key>
	<dict>
		<key>image</key>
		<string>+EnabledOff</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>-e*</key>
	<dict>
		<key>image</key>
		<string>+EnabledMixed</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>1d*</key>
	<dict>
		<key>image</key>
		<string>+DisabledOn</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>0d*</key>
	<dict>
		<key>image</key>
		<string>+DisabledOff</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>-d*</key>
	<dict>
		<key>image</key>
		<string>+DisabledMixed</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>1hi</key>
	<dict>
		<key>image</key>
		<string>+HighlightedOn</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>0hi</key>
	<dict>
		<key>image</key>
		<string>+HighlightedOff</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>-hi</key>
	<dict>
		<key>image</key>
		<string>+HighlightedMixed</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>1ho</key>
	<dict>
		<key>image</key>
		<string>+EnabledOn</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>0ho</key>
	<dict>
		<key>image</key>
		<string>+EnabledOff</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
	<key>-ho</key>
	<dict>
		<key>image</key>
		<string>+EnabledMixed</string>
		<key>focus</key>
		<string>+FocusRing</string>
	</dict>
</dict>
</plist>
