<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17A405001</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppKit</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppKit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppKit</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>6.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1671.40.119</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10P70r</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.14</string>
	<key>DTSDKBuild</key>
	<string>18E220</string>
	<key>DTSDKName</key>
	<string>macosx10.14internal</string>
	<key>DTXcode</key>
	<string>1020</string>
	<key>DTXcodeBuild</key>
	<string>10P70r</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>NSExtensionSDK</key>
	<dict>
		<key>com.apple.services</key>
		<dict>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.services</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>NSSharingExtensionContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>SHKHostExtensionContext</string>
				<key>NSExtensionProtocol</key>
				<string>NSObject</string>
				<key>PrincipalClass</key>
				<string>NSObject</string>
				<key>Subsystems</key>
				<array>
					<string>NSSharingService_Subsystem</string>
				</array>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>JoinExistingSession</key>
				<true/>
				<key>RunLoopType</key>
				<string>NSRunLoop</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>com.apple.share-services</key>
		<dict>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.share-services</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>NSSharingUIExtensionContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>SHKHostExtensionContext</string>
				<key>NSExtensionProtocol</key>
				<string>NSObject</string>
				<key>PrincipalClass</key>
				<string>NSObject</string>
				<key>Subsystems</key>
				<array>
					<string>NSSharingService_Subsystem</string>
					<string>NSViewService_PKSubsystem</string>
				</array>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>JoinExistingSession</key>
				<true/>
				<key>RunLoopType</key>
				<string>_NSApplicationMain</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
					<key>viewbridge</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>com.apple.ui-services</key>
		<dict>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.ui-services</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>NSSharingUIExtensionContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>SHKHostExtensionContext</string>
				<key>NSExtensionProtocol</key>
				<string>NSObject</string>
				<key>PrincipalClass</key>
				<string>NSObject</string>
				<key>Subsystems</key>
				<array>
					<string>NSSharingService_Subsystem</string>
					<string>NSViewService_PKSubsystem</string>
				</array>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>JoinExistingSession</key>
				<true/>
				<key>RunLoopType</key>
				<string>_NSApplicationMain</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
					<key>viewbridge</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
