<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CarbonSound</string>
	<key>CFBundleGetInfoString</key>
	<string>Carbon Sound Manager for OSX</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.audio.SoundManager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sound Manager</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2</string>
	<key>CFBundleSignature</key>
	<string>sad </string>
	<key>CFBundleVersion</key>
	<string>4.2</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>CarbonLazyValues</key>
	<dict>
		<key>CodeFragmentManager</key>
		<dict>
			<key>CarbonSound</key>
			<string>CFMPriv_CarbonSound</string>
		</dict>
		<key>Gestalt</key>
		<dict>
			<key>snd </key>
			<integer>8191</integer>
			<key>snhw</key>
			<integer>1751215137</integer>
		</dict>
	</dict>
</dict>
</plist>
