<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>CarbonSound</string>
	<key>BuildVersion</key>
	<string>8227</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2</string>
	<key>CFBundleVersion</key>
	<string>4.2</string>
	<key>ProjectName</key>
	<string>CarbonSound</string>
	<key>SourceVersion</key>
	<string>119000000000000</string>
</dict>
</plist>
