<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17A405001</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OpenScripting</string>
	<key>CFBundleGetInfoString</key>
	<string>Supplies support for scripting languages</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.openscripting</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Open Scripting Architecture</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleSignature</key>
	<string>OSA </string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>CarbonLazyValues</key>
	<dict>
		<key>CodeFragmentManager</key>
		<dict>
			<key>OpenScripting</key>
			<string>CFMPriv_OpenScripting</string>
		</dict>
		<!-- Generated lazy carbon values for OpenScripting.framework
			at Wed Oct 10 19:23:40 2018 by root on osx333.sd.apple.com -->
		<key>Gestalt</key>
		<dict>
			<key>ascv</key>
			<string>OSAInstallGestaltValues</string>
			<key>ascr</key>
			<integer>0x00000001</integer>
		</dict>
		<key>AEEventHandler</key>
		<dict>
			<key>miscactv</key>
			<string>OSAInstallStdEventHandlers</string>
			<key>ascrcmnt</key>
			<string>OSAInstallStdEventHandlers</string>
			<key>ToySlog0</key>
			<string>OSAInstallStdEventHandlers</string>
			<key>ToySlog1</key>
			<string>OSAInstallStdEventHandlers</string>
			<key>ascrgdte</key>
			<string>OSAInstallStdEventHandlers</string>
			<key>ascrgsdf</key>
			<string>OSAInstallStdEventHandlers</string>
			<key>ascrgdut</key>
			<string>OSAInstallScriptingEventHandlers</string>
		</dict>
		<key>AEDescCoercionHandler</key>
		<dict>
			<key>obj insl</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>obj ldt </key>
			<string>OSAInstallStdDescCoercions</string>
			<key>vers****</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>alisobj </key>
			<string>OSAInstallStdDescCoercions</string>
			<key>fsrfobj </key>
			<string>OSAInstallStdDescCoercions</string>
			<key>fss obj </key>
			<string>OSAInstallStdDescCoercions</string>
			<key>furlobj </key>
			<string>OSAInstallStdDescCoercions</string>
			<key>bmrkobj </key>
			<string>OSAInstallStdDescCoercions</string>
			<key>obj alis</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>obj fsrf</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>obj fss </key>
			<string>OSAInstallStdDescCoercions</string>
			<key>****furl</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>obj psxf</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>obj bmrk</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>listalst</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>listcRGB</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>listQDpt</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>listqdrt</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>TEXTitxt</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>itxtTEXT</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>tTXTutxt</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>tTXTutf8</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>tTXTut16</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTitxt</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTTEXT</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTutxt</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTutf8</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTut16</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTenum</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTtype</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTshor</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTlong</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTmagn</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTcomp</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTsing</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>STXTdoub</key>
			<string>OSAInstallStdDescCoercions</string>
			<key>ldt obj </key>
			<string>OSAInstallScriptingDescCoercions</string>
			<key>listintl</key>
			<string>OSAInstallScriptingDescCoercions</string>
			<key>machobj </key>
			<string>OSAInstallScriptingDescCoercions</string>
			<key>nullldt </key>
			<string>OSAInstallScriptingDescCoercions</string>
			<key>nullmach</key>
			<string>OSAInstallScriptingDescCoercions</string>
			<key>nullzone</key>
			<string>OSAInstallScriptingDescCoercions</string>
			<key>obj mach</key>
			<string>OSAInstallScriptingDescCoercions</string>
			<key>obj zone</key>
			<string>OSAInstallScriptingDescCoercions</string>
			<key>zoneobj </key>
			<string>OSAInstallScriptingDescCoercions</string>
		</dict>
		<key>AEPtrCoercionHandler</key>
		<dict>
			<key>furl****</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>utxt****</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>utxtutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>utxtut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>utf8utxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>utf8****</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>ut16utxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>ut16****</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>TEXTutxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>TEXTutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>TEXTut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>TEXTSTXT</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>itxtutxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>itxtutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>itxtut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>ctxtutxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>ctxtutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>ctxtut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>enumSTXT</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>typeSTXT</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>shorSTXT</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>longSTXT</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>magnSTXT</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>compSTXT</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>singSTXT</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>doubSTXT</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>enumutxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>typeutxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>shorutxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>longutxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>magnutxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>computxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>singutxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>doubutxt</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>enumutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>typeutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>shorutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>longutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>magnutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>computf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>singutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>doubutf8</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>enumut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>typeut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>shorut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>longut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>magnut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>comput16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>singut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>doubut16</key>
			<string>OSAInstallStdPtrCoercions</string>
			<key>metr****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****metr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>metrinch</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>metrfeet</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>metryard</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>metrmile</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>metrkmtr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>metrcmtr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>inchmetr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>feetmetr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>yardmetr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>milemetr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>kmtrmetr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cmtrmetr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****inch</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****feet</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****yard</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****mile</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****kmtr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****cmtr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>inch****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>feet****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>yard****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>mile****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>kmtr****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cmtr****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqrm****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****sqrm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqrmsqft</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqrmsqyd</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqrmsqmi</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqrmsqkm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqftsqrm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqydsqrm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqmisqrm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqkmsqrm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****sqft</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****sqyd</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****sqmi</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****sqkm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqft****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqyd****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqmi****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>sqkm****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>litr****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****litr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>litrgaln</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>litrqrts</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>galnlitr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>qrtslitr</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****galn</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****qrts</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>galn****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>qrts****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cmet****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****cmet</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cmetcfet</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cmetcuin</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cmetccmt</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cmetcyrd</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cfetcmet</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cuincmet</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>ccmtcmet</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cyrdcmet</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****cfet</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****cuin</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****ccmt</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****cyrd</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cfet****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cuin****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>ccmt****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>cyrd****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>kgrm****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****kgrm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>kgrmgram</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>kgrmozs </key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>kgrmlbs </key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>gramkgrm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>ozs kgrm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>lbs kgrm</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****gram</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****ozs </key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****lbs </key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>gram****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>ozs ****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>lbs ****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>degc****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****degc</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>degcdegf</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>degcdegk</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>degfdegc</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>degkdegc</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****degf</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>****degk</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>degf****</key>
			<string>OSAInstallUnitPtrCoercions</string>
			<key>degk****</key>
			<string>OSAInstallUnitPtrCoercions</string>
		</dict>
		<!-- End of generated lazy values -->
	</dict>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10L213p</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.14</string>
	<key>DTSDKBuild</key>
	<string>18B63</string>
	<key>DTSDKName</key>
	<string>macosx10.14internal</string>
	<key>DTXcode</key>
	<string>1000</string>
	<key>DTXcodeBuild</key>
	<string>10L213p</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
</dict>
</plist>
