<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InsetBox</key>
	<dict>
		<key>InsetBoxContainer</key>
		<dict>
			<key>bottom</key>
			<string>11</string>
			<key>left</key>
			<string>16</string>
			<key>right</key>
			<string>16</string>
			<key>top</key>
			<string>11</string>
		</dict>
		<key>TopTabViewContainer</key>
		<dict>
			<key>bottom</key>
			<string>12</string>
			<key>left</key>
			<string>12</string>
			<key>right</key>
			<string>12</string>
			<key>top</key>
			<string>17</string>
		</dict>
	</dict>
	<key>InsetBoxContainer</key>
	<dict>
		<key>View</key>
		<dict>
			<key>bottom</key>
			<string>11</string>
			<key>left</key>
			<string>16</string>
			<key>right</key>
			<string>16</string>
			<key>top</key>
			<string>11</string>
		</dict>
		<key>StaticText</key>
		<dict>
			<key>bottom</key>
			<string>1</string>
		</dict>
		<key>HorizontalTickBottomSlider</key>
		<dict>
			<key>top</key>
			<string>9</string>
		</dict>
	</dict>
	<key>Box</key>
	<dict>
		<key>View</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
			<key>left</key>
			<string>20</string>
			<key>right</key>
			<string>20</string>
			<key>top</key>
			<string>16</string>
		</dict>
	</dict>
	<key>HelpButton</key>
	<dict>
		<key>View</key>
		<dict>
			<key>bottom</key>
			<string>12</string>
			<key>left</key>
			<string>12</string>
			<key>right</key>
			<string>12</string>
			<key>top</key>
			<string>12</string>
		</dict>
	</dict>
	<key>Placard</key>
	<dict/>
	<key>CheckBox</key>
	<dict>
		<key>CheckBox</key>
		<dict>
			<key>bottom</key>
			<string>6</string>
			<key>top</key>
			<string>6</string>
		</dict>
	</dict>
	<key>DataBrowser</key>
	<dict>
		<key>container</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
			<key>left</key>
			<string>20</string>
			<key>right</key>
			<string>20</string>
			<key>top</key>
			<string>20</string>
		</dict>
	</dict>
	<key>HorizontalLine</key>
	<dict>
		<key>WindowContentViewContainer</key>
		<dict>
			<key>left</key>
			<string>12</string>
			<key>right</key>
			<string>12</string>
		</dict>
		<key>CustomViewContainer</key>
		<dict>
			<key>left</key>
			<string>12</string>
			<key>right</key>
			<string>12</string>
		</dict>
		<key>BoxContainer</key>
		<dict>
			<key>left</key>
			<string>12</string>
			<key>right</key>
			<string>12</string>
		</dict>
		<key>InsetBoxContainer</key>
		<dict>
			<key>left</key>
			<string>12</string>
			<key>right</key>
			<string>12</string>
		</dict>
		<key>TopTabViewContainer</key>
		<dict>
			<key>left</key>
			<string>12</string>
			<key>right</key>
			<string>12</string>
		</dict>
	</dict>
	<key>BorderedScrollView</key>
	<dict>
		<key>WindowContentViewContainer</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
			<key>left</key>
			<string>20</string>
			<key>right</key>
			<string>20</string>
			<key>top</key>
			<string>20</string>
		</dict>
	</dict>
	<key>HorizontalScrollBar</key>
	<dict>
		<key>container</key>
		<dict>
			<key>right</key>
			<string>14</string>
		</dict>
	</dict>
	<key>NSBrowser</key>
	<dict>
		<key>View</key>
		<dict>
			<key>bottom</key>
			<string>22</string>
		</dict>
		<key>container</key>
		<dict>
			<key>top</key>
			<string>22</string>
		</dict>
	</dict>
	<key>PopupButton</key>
	<dict>
		<key>PopupButton</key>
		<dict>
			<key>bottom</key>
			<string>10</string>
			<key>top</key>
			<string>10</string>
		</dict>
		<key>View</key>
		<dict>
			<key>bottom</key>
			<string>8</string>
			<key>top</key>
			<string>20</string>
		</dict>
	</dict>
	<key>PushButton</key>
	<dict>
		<key>PushButton</key>
		<dict>
			<key>bottom</key>
			<string>12</string>
			<key>left</key>
			<string>12</string>
			<key>right</key>
			<string>12</string>
			<key>top</key>
			<string>12</string>
		</dict>
		<key>View</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
			<key>top</key>
			<string>20</string>
		</dict>
	</dict>
	<key>RadioButton</key>
	<dict>
		<key>RadioButton</key>
		<dict>
			<key>bottom</key>
			<string>6</string>
			<key>top</key>
			<string>6</string>
		</dict>
		<key>StaticText</key>
		<dict>
			<key>left</key>
			<string>6</string>
			<key>right</key>
			<string>6</string>
		</dict>
	</dict>
	<key>RadioButtonGroup</key>
	<dict>
		<key>RadioButtonGroup</key>
		<dict>
			<key>bottom</key>
			<string>6</string>
			<key>top</key>
			<string>6</string>
		</dict>
		<key>StaticText</key>
		<dict>
			<key>left</key>
			<string>6</string>
			<key>right</key>
			<string>6</string>
		</dict>
	</dict>
	<key>SmallCheckBox</key>
	<dict>
		<key>SmallCheckBox</key>
		<dict>
			<key>bottom</key>
			<string>6</string>
			<key>top</key>
			<string>6</string>
		</dict>
	</dict>
	<key>MiniCheckBox</key>
	<dict>
		<key>MiniCheckBox</key>
		<dict>
			<key>bottom</key>
			<string>5</string>
			<key>top</key>
			<string>5</string>
		</dict>
	</dict>
	<key>SmallPushButton</key>
	<dict>
		<key>SmallPushButton</key>
		<dict>
			<key>bottom</key>
			<string>10</string>
			<key>top</key>
			<string>10</string>
		</dict>
	</dict>
	<key>SmallHorizontalScrollBar</key>
	<dict>
		<key>container</key>
		<dict>
			<key>right</key>
			<string>14</string>
		</dict>
	</dict>
	<key>SmallPopupButton</key>
	<dict>
		<key>SmallPopupButton</key>
		<dict>
			<key>bottom</key>
			<string>8</string>
			<key>top</key>
			<string>8</string>
		</dict>
	</dict>
	<key>MiniPopupButton</key>
	<dict>
		<key>MiniPopupButton</key>
		<dict>
			<key>bottom</key>
			<string>6</string>
			<key>top</key>
			<string>6</string>
		</dict>
	</dict>
	<key>SmallVerticalScrollBar</key>
	<dict>
		<key>container</key>
		<dict>
			<key>bottom</key>
			<string>14</string>
		</dict>
	</dict>
	<key>SquareButton</key>
	<dict>
		<key>SquareButton</key>
		<dict>
			<key>bottom</key>
			<string>10</string>
			<key>left</key>
			<string>10</string>
			<key>right</key>
			<string>10</string>
			<key>top</key>
			<string>10</string>
		</dict>
	</dict>
	<key>TextField</key>
	<dict>
		<key>BoxContainer</key>
		<dict>
			<key>bottom</key>
			<string>16</string>
			<key>left</key>
			<string>16</string>
			<key>right</key>
			<string>16</string>
			<key>top</key>
			<string>16</string>
		</dict>
		<key>PopupButton</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
		</dict>
		<key>TextField</key>
		<dict>
			<key>bottom</key>
			<string>10</string>
			<key>top</key>
			<string>10</string>
		</dict>
		<key>container</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
			<key>left</key>
			<string>20</string>
			<key>right</key>
			<string>20</string>
			<key>top</key>
			<string>20</string>
		</dict>
	</dict>
	<key>TopTabView</key>
	<dict>
		<key>PushButton</key>
		<dict>
			<key>top</key>
			<string>10</string>
		</dict>
		<key>container</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
			<key>left</key>
			<string>20</string>
			<key>right</key>
			<string>20</string>
			<key>top</key>
			<string>12</string>
		</dict>
	</dict>
	<key>VerticalLine</key>
	<dict>
		<key>container</key>
		<dict>
			<key>bottom</key>
			<string>12</string>
			<key>top</key>
			<string>12</string>
		</dict>
	</dict>
	<key>VerticalScrollBar</key>
	<dict>
		<key>container</key>
		<dict>
			<key>bottom</key>
			<string>14</string>
		</dict>
	</dict>
	<key>View</key>
	<dict>
		<key>Box</key>
		<dict>
			<key>bottom</key>
			<string>16</string>
			<key>left</key>
			<string>20</string>
			<key>right</key>
			<string>20</string>
			<key>top</key>
			<string>20</string>
		</dict>
		<key>BoxContainer</key>
		<dict>
			<key>bottom</key>
			<string>16</string>
			<key>left</key>
			<string>16</string>
			<key>right</key>
			<string>16</string>
			<key>top</key>
			<string>16</string>
		</dict>
		<key>CustomViewContainer</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
			<key>left</key>
			<string>20</string>
			<key>right</key>
			<string>20</string>
			<key>top</key>
			<string>20</string>
		</dict>
		<key>NSBrowser</key>
		<dict>
			<key>top</key>
			<string>22</string>
		</dict>
		<key>PopupButton</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
			<key>top</key>
			<string>8</string>
		</dict>
		<key>PushButton</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
			<key>top</key>
			<string>20</string>
		</dict>
		<key>StaticText</key>
		<dict>
			<key>bottom</key>
			<string>8</string>
			<key>left</key>
			<string>8</string>
			<key>leftIndent</key>
			<string>12</string>
			<key>right</key>
			<string>8</string>
			<key>top</key>
			<string>8</string>
		</dict>
		<key>TextField</key>
		<dict>
			<key>bottom</key>
			<string>8</string>
			<key>left</key>
			<string>8</string>
			<key>right</key>
			<string>8</string>
			<key>top</key>
			<string>8</string>
		</dict>
		<key>View</key>
		<dict>
			<key>bottom</key>
			<string>8</string>
			<key>left</key>
			<string>8</string>
			<key>right</key>
			<string>8</string>
			<key>top</key>
			<string>8</string>
		</dict>
		<key>HelpButton</key>
		<dict>
			<key>bottom</key>
			<string>12</string>
			<key>left</key>
			<string>12</string>
			<key>right</key>
			<string>12</string>
			<key>top</key>
			<string>12</string>
		</dict>
		<key>container</key>
		<dict>
			<key>bottom</key>
			<string>20</string>
			<key>left</key>
			<string>20</string>
			<key>right</key>
			<string>20</string>
			<key>top</key>
			<string>20</string>
		</dict>
	</dict>
</dict>
</plist>
