<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>OSA</string>
	<key>BuildVersion</key>
	<string>29</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>ProjectName</key>
	<string>OSA</string>
	<key>SourceVersion</key>
	<string>178000000000000</string>
</dict>
</plist>
