<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HIToolbox</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.HIToolbox</string>
	<key>CFBundleName</key>
	<string>HIToolbox</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>CarbonLazyValues</key>
	<dict>
		<key>CodeFragmentManager</key>
		<dict>
			<key>HIToolbox</key>
			<string>CFMPriv_HIToolbox</string>
		</dict>
		<key>Gestalt</key>
		<dict>
			<key>appr</key>
			<integer>1</integer>
			<key>apvr</key>
			<integer>768</integer>
			<key>cmnu</key>
			<integer>15</integer>
			<key>cmvr</key>
			<integer>1024</integer>
			<key>cntl</key>
			<integer>1</integer>
			<key>ditl</key>
			<integer>1</integer>
			<key>dlog</key>
			<integer>5</integer>
			<key>drag</key>
			<integer>63</integer>
			<key>help</key>
			<integer>0</integer>
			<key>isrv</key>
			<integer>3</integer>
			<key>kbd </key>
			<string>_GestaltKeyboardTypeSelector</string>
			<key>lang</key>
			<integer>7</integer>
			<key>lngv</key>
			<integer>123174912</integer>
			<key>menu</key>
			<integer>127</integer>
			<key>nmgr</key>
			<integer>1</integer>
			<key>scr#</key>
			<string>SMInitializeGestaltValues</string>
			<key>scri</key>
			<string>SMInitializeGestaltValues</string>
			<key>scrx</key>
			<string>INIT_ScriptHL</string>
			<key>te  </key>
			<integer>6</integer>
			<key>teat</key>
			<integer>9</integer>
			<key>tmTE</key>
			<integer>1</integer>
			<key>tmTV</key>
			<integer>338</integer>
			<key>tsmv</key>
			<integer>576</integer>
			<key>wind</key>
			<integer>511</integer>
		</dict>
		<key>ResourceManagerFiles</key>
		<dict>
			<key>com.apple.HIToolbox</key>
			<string>SystemOverride</string>
		</dict>
	</dict>
	<key>HIObjectClasses</key>
	<array>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HIAskSaveChanges</string>
			<key>HIDelegate</key>
			<true/>
		</dict>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HITextChangeModifiesWindow</string>
			<key>HIDelegate</key>
			<true/>
		</dict>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HITextLengthFilter</string>
			<key>HIDelegate</key>
			<true/>
		</dict>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HINumericTextFilter</string>
			<key>HIDelegate</key>
			<true/>
		</dict>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HIOpenReopenNew</string>
			<key>HIDelegate</key>
			<true/>
		</dict>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HIQuitWithReview</string>
			<key>HIDelegate</key>
			<true/>
		</dict>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HINewWindowFromNib</string>
			<key>HIDelegate</key>
			<true/>
		</dict>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HIUntitledWindow</string>
			<key>HIDelegate</key>
			<true/>
		</dict>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HIRepositionWindow</string>
			<key>HIDelegate</key>
			<true/>
		</dict>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HIStdAppDelegate</string>
			<key>HIDelegate</key>
			<true/>
			<key>HIDelegateGroup</key>
			<true/>
		</dict>
		<dict>
			<key>HIClassID</key>
			<string>com.apple.appobjects.HIStdWindowDelegate</string>
			<key>HIDelegate</key>
			<true/>
			<key>HIDelegateGroup</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
